<div class="spotlight-container">
  <%= image_tag @category.image, alt:@category.name, class:"spotlight-image" %>
</div>
<h2>Recipes of <%= @category.name %></h2>

<%= render partial: 'recipe_list' %>
