<div class="spotlight-container">
  <%= image_tag @category.image, alt:@category.name, class:"spotlight-image" %>
  <div class="spotlight-text">
    <h1>Recipes of <%= @category.name %></h1>
  </div>
</div>


<%= render partial: 'recipe_list' %>
