<div class="spotlight-container">
<%= image_tag 'mix-heading.jpg', alt: "heading-image", class: "spotlight-image" %>
  <div class="spotlight-text">
    <h1>Share Your Smoothie's Recipe</h1>
  </div>
</div>


<%= render partial: 'form' %>
