 <h2>Results</h2>

<% @results.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe.id) %>
  <% if recipe.image.present? %>
    <%= image_tag recipe.image, alt:recipe.name, class:"recipe-image" %>
  <% end %>
  <br>
<% end %>
