* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.error{
  color:rgb(230, 18, 107);
}

.navbar{
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 10vh;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar > div {
  display:inline-block;
  position:relative;
  height: 100%;
}

.nav-left{
  width: 30%;
}

.nav-right{
  width:70%;
  text-align: right;
}

.food-list{
  color:rgb(21, 209, 198);
}

#search_form {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#search_form input{
  border-radius: 5px;
  padding:5px;
  font-size: 12px;
}

.flash{
  margin: 57px auto 0px;
}



.spotlight-container-home {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.spotlight-image-home {
  width: 100%;
  height: 400px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  opacity: 0.95;

}


.spotlight-text-home {
  margin: 0 auto;
  text-align: center;
  padding: 160px 0;
  color: #FFF;
  text-shadow: 1px 1px #000;
  max-width: 700px;
}

h1{
  font-size:40px;
}

.space{
  height:50px;
}

.transition-text{
  /* vertical-align: center; */
  padding:60px;
  /* text-shadow: 1px 1px rgb(143, 139, 142); */
}

.category-container{
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.category-container a{
  text-decoration: none;
  color: white;
}
.category-image{
  text-align: center;
  width: 100%;
  height: 400px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  opacity: 0.8;
}

.column{
  display:inline-block;
  vertical-align: top;
}


#category-left{
  width:30%;
}

#category-right{
  width:70%;
}

.category-left-text {
  text-align: center;
  height: 250px;
  margin: 75px 0px 75px 50px;
}

.category-right-text {
  height:250px;
  margin: 75px 50px 75px 0;
  opacity: 0.7;
}

.category-left-text-content{
  position: relative;
  top: 60px;
}

.category-right-text-content{
  position: relative;
  top: 30px;
}

.category-description{
  font-size: 18px;
  padding: 42px;
}

.category-name{
  border-bottom-color: white;
  border-bottom-style: dashed;
  width: 170px;
  padding: 10px;
  margin: auto;
  font-size:30px;
  font-weight:900;
}


#category-feature{
  padding: 10px;
  font-size: 18px;
}

#REDS{
  background: red;
  color: white;
}

#ORANGES{
  background: orange;
  color: white;
}

#YELLOWS{
  background: yellow;
  color: rgb(196, 140, 14);
}

#YELLOWS a {
  color: rgb(196, 140, 14);
}

#YELLOWS .category-name{
  border-bottom-color: rgb(196, 140, 14);
}

#GREENS{
  background: green;
  color: white;
}

#PURPLES{
  background: purple;
  color: white;
}

#check-recipe {
  color: rgb(19, 215, 204) !important;
}


.recipe-image{
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
  border: dashed rgb(30, 220, 232);
}

.field_with_errors input {
  border: 2px solid red;
}

.field_with_errors textarea {
  border: 2px solid red;
}


/* Make sure footer is always at bottom of page, even on pages without much content */
div#main {
    min-height: calc(100vh - 10vh - 50px);
    margin-top: 10vh;
}

.footer{
  background-color: #333;
  color: white;
  text-align: center;
  height: 50px;
}

.footer > p{
  padding:15px;
}

.spotlight-container {
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.spotlight-image {
  width: 100%;
  height: 200px;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  opacity: 0.85;
}

.spotlight-text {
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  color: #FFF;
  text-shadow: 1px 1px #000;
  max-width: 700px;
}

.second-layer-content{
  margin: 20px auto;
  width: 60%;
  /* text-align: center; */
}
